**EXERCICE ALGORITHMIQUE**

**1.Les bases**

**Exercice 1 :** Simple échange

In [4]:
def change(a,b) :
   a , b = b , a;
   print(a,b) ;

In [7]:
change(2,3)

3 2

**Exercice 2 :** Le carré

In [49]:
def carre() :
    print ('Veuillez entrer un nombre positif quelconque : ')
    nb = input()
    print("Le carré de ", nb, " est ", int(nb) ** 2)

carre()

Veuillez entrer un nombre positif quelconque :
5
Le carré de  5  est  25

**Excercice 3 :** La condition

In [53]:
def signe():
    print ("Tapez un nombre : ")
    nombre = input()
    if int(nombre) > 0:
        print("ce nombre est positif ")
    elif int(nombre) < 0:
        print("ce nombre est negatif ")
    else:
        print("Zéro !")

signe()

Tapez un nombre :
5
ce nombre est positif

**Exercice 4 :**Le produit

In [34]:
def prod(a,b):
   nombre = a * b;
   if nombre > 0 :
      print ("le produit est positif !!")
   else :
      print("Le produit est negatif !!")

prod(10,-1)
prod(2,1)

Le produit est negatif !!
le produit est positif !!

**Exercice 5 :** Calcul

In [ ]:
def suite(nb) :
    i = 1;
    while i < 10 :
       nb = nb + 1 ; 
       print(nb)
       i = i+1
suite(1)

2
3
4
5
6
7
8
9
10

**Exercice 6 :** L'addictivité

In [60]:
def somme(nb) :
    i=0
    somme = 0
    while i < nb :
         somme = somme + (nb-i)
         i = i + 1
         print(somme)
     
somme(5)

5
9
12
14
15

**2.Les Tableaux**

**Exercice 2.1 :** La somme

In [157]:
tab1 = [1,2,3,4,23]
somme = 0
for i in tab1:
         somme = somme + i
print("la somme est", somme)

la somme est 33

**Exercice 2.2 :** somme retour

In [158]:
tab2 = [5, 10, 8, 4, 7]

def sommeTab(tab1, tab2):
    i = 0
    for elt in tab2:
        tab1[i] += elt
        i += 1
    return tab1
    
tab = sommeTab(tab1, tab2)
tab

[6, 12, 11, 8, 30]

**Exercice 2.3 :** Compte Bancaire

In [159]:
class CompteBancaire :
        
    def __init__(self, nom = "Dupont", solde = 1000):
        self.nom = nom
        self.solde = solde
        
    def depot(self, somme):
        self.solde += somme
        
    def retrait(self, somme):
        self.solde -= somme
        
    def affiche(self):
        print("Le solde du compte bancaire de ", self.nom, " est de ", self.solde, " euros.")

In [160]:
compte1 = CompteBancaire('Duchmol', 800)
compte1.depot(350)
compte1.retrait(200)
compte1.affiche()

Le solde du compte bancaire de  Duchmol  est de  950  euros.